[submodule "FishNChips"]
	path = FishNChips
	url = https://github.com/creeas/NCEAS-FishNChips
[submodule "Skates"]
	path = Skates
	url = https://github.com/NickDulvy/skate-meat-trade
[submodule "Silky"]
	path = Silky
	url = https://github.com/natpac/NCEAS_Silky
